*{
    padding:0px;/*边框*/
    margin:0px;/*外边距*/
}
h1{
    text-align: center;
    font-size:3vw;
    font-family: 'Courier New', Courier, monospace;
}
header{
    position:fixed;
    background-color:bisque;
    width:100%;
    text-align: center;
    z-index:99;
}
.title1 h1{
    color:black;
    transition: color 0.5s ease; /* 添加颜色过渡效果 */
}
.img1{
    background-color: pink;
    text-align: center;
}
.imageF{
    padding-top:70px;
    transition: transform 0.5s ease; /* 平滑过渡效果 */
    max-width: 20vw;
}
.imageF:hover{
    transform: scale(1.2); /* 鼠标悬停时放大图片 */
}
input{
    color:black;
    font-size:1.5vw;
    background-color:khaki;
}
.cmdBox{
    width:50vw;
    margin-right: 1vw;/*vw:相对单位, 视窗宽度的4%*/
}
input:focus{
    outline:none;
}
input:hover{
    background-color: chocolate;
    color:aliceblue;
}
button{
    transition: transform 0.5s ease;
    color:black;
    background-color: khaki;
    cursor:pointer;
    font-size:1.5vw;
    width:5vw;
    margin-bottom: 0.5vw;
}
button:hover{
    transform:scale(1.3);
    background-color: chocolate;
    color:aliceblue;
}
.mainSection{
    background-color: pink;
    /*display: inline;*/
}
.navigation{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.textc{
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.textc img{
    max-width: 20vw;
}
.textc p{
    margin-left: 20px;
    font-size: 1.5vw;
    color:black;
    transition: color 0.5s ease; /* 添加颜色过渡效果 */
    
}
.textc p:hover{
    color:blue;
}
h2{
    margin-left: 20px;
    font-size: 2.5vw;
}
.maniaScreenShotDiv{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.maniaScreenShot{
    max-width: 45vw;
    margin-bottom: 20px;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}
.maniaScreenShot:hover{
    transform: scale(1.4);
}
